<component name="libraryTable">
  <library name="mybatis-3.5.1-20190205.145900-22">
    <CLASSES>
      <root url="jar://G:/jar包/mybatis-3.5.1-20190205.145900-22.jar!/" />
      <root url="jar://G:/jar包/mybatis-spring-2.0.0.jar!/" />
      <root url="jar://G:/jar包/junit-4.8.2.jar!/" />
      <root url="jar://G:/jar包/mybatis-generator-core-1.3.7.jar!/" />
      <root url="jar://G:/jar包/mysql-connector-java-8.0.15.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>